
<div class="button">
	<button [routerLink]="['']">Back</button>
</div>
<div class="content-container">
<div class="show">
	<div class="show-name">{{ show?.name }}</div>
	<div class="show-detail">
		<span class="overview">{{ show?.overview }}</span>
		<span class="title">Rating: <span class="text">{{ show?.rating }} / 10</span></span>
		<span class="title">Number of ratings: <span class="text">{{ show?.numberOfRatings }}</span></span>
		<span class="title">Genre: <span class="text">{{ show?.genre }}</span></span>
		<span class="title">First air date: <span class="text">{{ getFormatedDate(show?.firstAirDate) }}</span></span>
		<span class="title">Original name: <span class="text">{{ show?.originalName }}</span></span>
		<span class="title">Popularity number: <span class="text">{{ show?.popularity }}</span></span>
	</div>
</div>
</div>

<div class="content-container comment-add">
	<div class="button">
		<textarea [(ngModel)]="comment"></textarea>
		<button class="add-comment-button" (click)="addComment()">Add comment</button>
	</div>
</div>
<ng-container *ngIf="show?.comments != null && show.comments?.length != 0">
<div class="comment" *ngFor="let comment of show?.comments" >
	<span class="comment-username">{{ comment.username }}:</span>
	<textarea [(ngModel)]="comment.text" [disabled]="true"></textarea>
	<button *ngIf="isAdmin" (click)="removeComment(comment.userCommentID)">Remove</button>
</div>
</ng-container>