.content-container {
	margin-top: 40px;
	padding: 15px;
	box-shadow: 0px 10px 30px 0px #37444d;
	border-radius: 6px;
}

.show-name {
	text-align: center;
	font-size: 55px;
  padding-bottom: 15px;
	border-bottom: 2px solid #37444d;
}

.show-detail {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
}

.button {
	display: flex;
	justify-content: flex-end;
}

button {
	height: 40px;
	width: 120px;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	transition: background-color 0.15s linear;
	border-radius: 4px;
}

button:hover {
	background-color: #4a7a9c;
}

.add-comment-button {
	width: 180px;
	margin-left: 20px;
}

textarea {
	height: 40px;
	width: 100%;
	background-color: #15202b;
	border: 2px solid #37444d;
	outline: 0;
	transition: all .2s ease-in-out;
	color: white;
	border-radius: 4px;
	padding: 0px 10px 0px 10px;
	max-height: 200px;
}

.comment {
	display: flex;
	margin-top: 15px;
	padding: 15px;
	box-shadow: 3px 3px 10px 0px #37444d;
	border-radius: 6px;
	align-items: center;
}

.comment button {
	margin-left: 20px;
}

.comment-add {
	margin-bottom: 30px;
}

.comment-username {
	padding-right: 20px;
}

.title, .overview {
	font-size: 25px;
	text-align: center;
}

.overview {
	padding-bottom: 25px;
}