<div class="header">
	<span class="title">Registration</span>
	<button (click)="register()">Register</button>
</div>
<div class="input-wrapper">
	<div class="input-name">Username:</div>
	<input type="text" [(ngModel)]="registerData.username" spellcheck="false">
</div>
<div class="input-wrapper">
	<div class="input-name">Password:</div>
	<input type="text" [(ngModel)]="registerData.password" spellcheck="false">
</div>