<div class="header">
	<span class="title">Login</span>
	<button (click)="login()">Log In</button>
</div>
<div class="input-wrapper">
	<div class="input-name">Username:</div>
	<input type="text" [(ngModel)]="loginData.username" spellcheck="false">
</div>
<div class="input-wrapper">
	<div class="input-name">Password:</div>
	<input type="password" [(ngModel)]="loginData.password" spellcheck="false">
</div>