input {
	height: 40px;
	width: 50%;
	background-color: #15202b;
	border: 2px solid #37444d;
	outline: 0;
	transition: all .2s ease-in-out;
	color: white;
	border-radius: 4px;
	padding: 0px 10px 0px 10px;
}

input:hover {
	border-color: white;
}

.header {
	display: flex;
	justify-content: space-between;
}

button {
	height: 40px;
	width: 120px;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	transition: all 0.15s linear;
	border-radius: 4px;
}

button:hover {
	background-color: #4a7a9c;
}

.input-wrapper {
	display: flex;
	flex-direction: row;
	padding-right: 10px;
	margin-top: 10px;
}

.input-name {
	margin-right: 20px;
	flex: 0 0 100px;
	display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title {
	font-size: 32px;
}