.show-modal {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
}

.show-modal-title {
	border-bottom: 1px solid #37444d;
	padding: 5px;
	display: flex;
	justify-content: center;
	font-size: 24px;
}

.show-modal-body {
	background-color: #15202b;
	max-width: 700px;
	margin: 240px auto;
	transition: all 0.25s linear;
	border-radius: 5px;
	margin-top: 100px;
}

.show-modal-inputs {
	display: flex;
	flex-direction: column;
}

.input-wrapper {
	display: flex;
	flex-direction: row;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.input-name {
	margin-right: 20px;
	flex: 0 0 180px;
	display: flex;
  justify-content: flex-end;
  align-items: center;
}

.show-modal-buttons {
	display: flex;
	padding: 10px;
	justify-content: space-between;
	margin-top: 10px;
	border-top: 1px solid #37444d;
}

button {
	height: 40px;
	width: 120px;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	transition: all 0.15s linear;
	border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input, select, .file-upload-button {
	height: 40px;
	width: 100%;
	background-color: #15202b;
	border: 2px solid #37444d;
	outline: 0;
	transition: all .2s ease-in-out;
	color: white;
	border-radius: 4px;
	padding: 0px 10px 0px 10px;
}

input:hover {
	border-color: white;
}

.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

.file-upload-button {
	padding-top: 2px;
	cursor: pointer;
	color: #37444d;
}

.file-upload-button:hover {
	border-color: white;
	color: white;
}

button:hover {
	background-color: #4a7a9c;
}

#file-upload {
	display: none;
}

select {
	appearance: none;
	cursor: pointer;
}

select:hover {
	border-color: white;
}

.select {
	position: relative;
}

.select::after {
		content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 2px solid #37444d;
    border-top: 2px solid #37444d;
    transition: all .25s ease-in-out;
    right: 25px;
    top: 15px;
    transform: rotate(-135deg);
    cursor: pointer;
}

.select:hover::after {
	border-color: white;
	transform: rotate(-45deg);
}

option {
	border: 4px solid red;
	cursor: pointer
}

option:hover {
	background-color: #37444d;
}

.error-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid #37444d;
	padding-top: 2px;
	padding-bottom: 2px;
}

.error {
	color: red;
	font-size: 12px;
}

textarea {
	height: 120px;
	width: 100%;
	background-color: #15202b;
	border: 2px solid #37444d;
	outline: 0;
	transition: all .2s ease-in-out;
	color: white;
	border-radius: 4px;
	padding: 0px 10px 0px 10px;
	max-height: 200px;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

.input-date {
	cursor: pointer;
}