<div *ngIf="display" class="show-modal">
	<div class="show-modal-body">
		<div class="show-modal-title">{{ title }}</div>
		<div class="error-list" *ngIf="errorList.length > 0">
			<div class="error" *ngFor="let error of errorList">{{ error }}</div>
		</div>
		<div class="show-modal-inputs">
			<div class="input-wrapper">
				<div class="input-name">Name:</div>
				<input type="text" [(ngModel)]="_model.name" spellcheck="false">
			</div>
			<div class="input-wrapper">
				<div class="input-name">Rating:</div>
				<input type="number" [(ngModel)]="_model.rating" spellcheck="false">
			</div>
			<div class="input-wrapper">
				<div class="input-name">Number of ratings:</div>
				<input type="number" [(ngModel)]="_model.numberOfRatings" spellcheck="false">
			</div>
			<div class="input-wrapper">
				<div class="input-name">First air date</div>
				<input class="input-date" type="date" [(ngModel)]="_model.firstAirDate" spellcheck="false">
			</div>
			<div class="input-wrapper">
				<div class="input-name">Original name:</div>
				<input type="text" [(ngModel)]="_model.originalName" spellcheck="false">
			</div>
			<div class="input-wrapper">
				<div class="input-name">Popularity number:</div>
				<input type="number" [(ngModel)]="_model.popularity" spellcheck="false">
			</div>
			<div class="input-wrapper select">
				<div class="input-name">Genre:</div>
				<select [(ngModel)]="_model.genre">
					<option *ngFor="let genre of genreList | keyvalue">{{ genre.value }}</option>
				</select>
			</div>
			<div class="input-wrapper">
				<div class="input-name">Image:</div>
				<label for="file-upload" class="file-upload-button">{{ fileUploadText }}</label>
				<input type="file" id="file-upload" #fileUpload (change)="onFileSelected($event)" accept="image/jpg, image/jpeg, image/png">
			</div>
			<div class="input-wrapper">
				<div class="input-name">Overview:</div>
				<textarea [(ngModel)]="_model.overview" spellcheck="false"></textarea>
			</div>
		</div>
		<div class="show-modal-buttons">
			<button (click)="close()">Cancel</button>
			<button (click)="save()">Save</button>
		</div>
	</div>
</div>