.show {
	display: flex;
	margin-top: 40px;
	padding: 15px;
	box-shadow: 0px 10px 30px 0px #37444d;
	border-radius: 6px;
}

.show img {
	height: 200px;
	margin-right: 15px;
	object-fit: contain;
}

.show-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.show-content .title .text {
	margin-left: 10px;
}

.show-name {
	font-size: 55px;
  height: 125px;
  display: flex;
  align-items: center;
}

.show-buttons {
	border-top: 1px solid #37444d;
	padding-top: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.show-buttons button {
	margin-left: 20px;
}

.show-list-header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
	align-items: center;
}

.favourite-show {
	display: flex;
	align-items: baseline;
	font-size: 25px;
}

.favourite-show .title {
	margin-right: 10px
}

.header-buttons {
	display: flex;
	justify-content: flex-end;
	padding-right: 15px;
}

.header-buttons button {
	margin-left: 20px;
}

button {
	height: 40px;
	width: 120px;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	transition: background-color 0.15s linear;
	border-radius: 4px;
	margin-left: 20px;
}

button:hover {
	background-color: #4a7a9c;
}

.text {
	font-weight: 350;
}

.filters {
	padding-top: 10px;
	border-top: 2px solid #37444d;
	visibility: visible;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.input-wrapper {
	display: flex;
	flex-direction: row;
}

.filters.hidden {
	visibility: hidden;
	height: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input, select {
	margin-right: 10px;
	height: 40px;
	width: 100%;
	background-color: #15202b;
	border: 2px solid #37444d;
	outline: 0;
	transition: border-color .2s ease-in-out;
	color: white;
	border-radius: 4px;
	padding: 0px 10px 0px 10px;
}

input:hover {
	border-color: white;
}

.rating-filter {
	margin-left: 5px;
	margin-right: 5px;
	width: 60px;
}

.name-filter {
	width: 340px;
}

.rating-filter:last-of-type {
	margin-right: 10px;
}

.filter-buttons {
	padding-right: 15px;
}

.divider {
	padding-top: 4px;
	color: #7d8c96;
}

.filters-row {
	display: flex;
}

.input-wrapper:first-of-type {
	padding-left: 0px;
}

.filters-on {
	border-color: #086708;
}

select {
	appearance: none;
	cursor: pointer;
	width: 190px;
}

select:hover {
	border-color: white;
}

.select {
	position: relative;
}

.select::after {
	content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-left: 2px solid #37444d;
  border-top: 2px solid #37444d;
  transition: transform .25s ease-in-out;
  right: 25px;
  top: 15px;
  transform: rotate(-135deg);
  cursor: pointer;
}

.select:hover::after {
	border-color: white;
	transform: rotate(-45deg);
}

option {
	border: 4px solid red;
	cursor: pointer
}

option:hover {
	background-color: #37444d;
}

.input-name {
	margin-right: 10px;
	padding-top: 4px;
}

.input-name.rating {
	margin-right: 5px;
}

.page-list {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 40px;
	width: 40px;
	border: 2px solid white;
	transition: background-color 0.15s linear;
	border-radius: 4px;
	margin-left: 0px;
}

.page:hover {
	background-color: #4a7a9c;
}

.page.active {
	border-color: #086708;
}