<show-modal
	[title]="modalTitle" 
	[type]="modalType"
	[model]="show"
	(onSave)="getShowsAfterAction()"
	[(display)]="displayShowModal"
>
</show-modal>

	<div class="show-list-header">
		<div class="favourite-show">
			<span class="title">Best rated show on this page |</span> 
			<span class="text">{{ favouriteShowName }}</span>
		</div>
		<div class="header-buttons">
			<button [class.filters-on]="!hideFilters" (click)="toggleFilters()">Filters</button>
			<button *ngIf="isAdmin" (click)="addShow()">Add show</button>
		</div>
	</div>

	<div class="filters" [class.hidden]="hideFilters">
		<div class="filters-row">
			<div class="input-wrapper">
				<div class="input-name">Name</div>
				<input type="text" class="name-filter" [(ngModel)]="filterName" spellcheck="false">
			</div>
			<div class="input-wrapper">
				<div class="input-name rating">Rating</div>
				<input class="rating-filter" type="number" [(ngModel)]="filterParams.minRating">
				<span class="divider">-</span>
				<input class="rating-filter" type="number" [(ngModel)]="filterParams.maxRating">
			</div>
			<div class="input-wrapper select">
				<div class="input-name">Genre</div>
				<select [(ngModel)]="filterParams.genre" (ngModelChange)="filterShows()">
					<option *ngFor="let genre of genreList | keyvalue">{{ genre.value }}</option>
				</select>
			</div>
		</div>
		<div class="filter-buttons">
			<button class="remove-filter" (click)="filterShows()">Filter</button>
			<button class="remove-filter" (click)="clearFilters()">Clear filters</button>
		</div>
	</div>

	<div *ngFor="let show of shows; trackBy: showID">
		<div class="show">
			<div class="show-image">
				<img src="{{ show.posterUrl }}">
			</div>
				<div class="show-content">
					<div class="show-name">{{ show.name }} ({{ getShowYear(show.firstAirDate) }})</div>
					<div class="show-buttons">
						<button *ngIf="isAdmin" (click)="editShow(show.showID)">Edit</button>
						<button *ngIf="isAdmin" (click)="deleteShow(show.showID)">Delete</button>
						<button [routerLink]="['detail', show.showID]">Detail</button>
					</div>
				</div>
			<div class="show-buttons">
		  </div>
		</div>
	</div>
	<div class="page-list">
		<button class="page" [class.active]="activePage() == page" (click)="pickPage(page)" *ngFor="let page of pageList">
			{{page}}
		</button>
	</div>
