.root-container {
	background-color: #15202b;
	color: white;
	font-weight: 600;
	font-size: 20px;
	font-family: system-ui;
	min-height: 969px;
}

.watchlist-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	background-color: #192734;
	margin-bottom: 50px;
	font-weight: 700;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.watchlist-header-content {
	font-size: 72px;
	position: relative;
	bottom: 5px;
}

.inner-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
	background-color: #192734;
	padding: 50px;
	border-radius: 8px;
}

button {
	height: 40px;
	width: 120px;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	transition: background-color 0.15s linear;
	border-radius: 4px;
	margin-left: 20px;
}

button:hover {
	background-color: #4a7a9c;
}

.logged-in-user {
	font-size: 24px;
}

.fill-database-button {
	width: 140px;
}