<div class="root-container">
	<div class="watchlist-header">
		<span class="watchlist-header-content">WatchList</span>
		<div>
			<span class="logged-in-user" *ngIf="loggedInUser" >User | {{ loggedInUser }}</span>
			<button *ngIf="!loggedInUser" [routerLink]="['login']">Login</button>
			<button *ngIf="loggedInUser" (click)="logout()">Logout</button>
			<button *ngIf="!loggedInUser" [routerLink]="['register']">Register</button>
			<button *ngIf="loggedInUser && isAdmin" (click)="fillDatabase()" class="fill-database-button">Fill database</button>
		</div>
	</div>
	<div class="inner-container">
		<router-outlet></router-outlet>
	</div>
</div>